nav {
  display: flex;
  align-items: center;

  a {
    /* all links from navbar */
    margin: 2px 10px;
    padding: 5px 5px;
    background-color: rgb(255, 210, 238);
  }

  div.dropdown {
    /* div contains garden and tree names */
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
  }

  div.dropdowncontent {
    /* div contains tree names */
    overflow: hidden;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      /* links in the dropdown menu */
      display: inline-block;
    }
  }

  .dropdown:hover {
    /* hover for "garden" dropdown menu */
    background-color: #641e1e;
  }

  .dropdown:hover .dropdowncontent {
    /* displays tree names when hover */
    display: block;
  }
}

main {
  button {
    margin: 0 10px;
  }
}